<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Order Details</h4>
                        <p class="card-category"> See below for ordered items</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Prep Time
                                    </th>
                                    <th>
                                        Cooking Time
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of orderDetails">
                                        <td>
                                            {{item.menu.name}}
                                        </td>
                                        <td>
                                            {{item.quantity}}
                                        </td>
                                        <td>
                                            {{item.order.totalAmount}}
                                        </td>
                                        <td>
                                            {{item.menu.preparationTimeInMin}}
                                        </td>
                                        <td>
                                            {{item.menu.cookingTimeInMin}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>